@{
    ViewBag.Title = "Home Page";
}
<div>
    <p>
        <span class="title">Intuit Inc.</span>
        <hr />
        Is an American software company that develops financial and tax preparation software
        and related services for small businesses, accountants and individuals. It is incorporated
        in Delaware and headquartered in Mountain View, California. Products
    </p>
    <p>
        <span class="title">Aggregation and Categorization Services</span>
        <hr />
        Integrate with Intuit’s data aggregation APIs so that you can leverage consumer
        and small business financial data and accounts to power your applications. Include
        our categorization feature so that you can further leverage the data and deliver
        targeted offers and services to your customers. This aggregation service operates
        on a robust architecture designed to scale up to meet the demands of our customers.</p>
    </p>
</div>
