<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    <add key="SAMLIdentityProviderID" value="" />
    <add key="PrivateKeyPath" value="" />
    <add key="PrivateKeyPassword" value="" />
    <add key="SAMLEndpoint" value="https://oauth.intuit.com/oauth/v1/get_access_token_by_saml"/>
    <add key="FileEncryptionKey" value="9aA2dD0fZ3Dab4126d7i5643"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership defaultProvider="XmlMembershipProvider">
      <providers>
        <clear />
        <add name="XmlMembershipProvider" type="Artem.Web.Security.XmlMembershipProvider, Artem.Web.Security.Xml" applicationName="DotNetAggCatSample" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="4" passwordAttemptWindow="10" passwordFormat="Hashed" passwordStrengthRegularExpression="" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" caseSensitive="false" useUniversalTime="false" fileName="Users.xml" folder="~/App_Data/" />
      </providers>
    </membership>
    <profile enabled="false">
      <providers>
        <clear />
        <add name="XmlProfileProvider" type="Artem.Web.Security.XmlProfileProvider, Artem.Web.Security.Xml" applicationName="DotNetAggCatSample" fileName="Profiles.xml" folder="~/App_Data/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="XmlRoleProvider" type="Artem.Web.Security.XmlRoleProvider, Artem.Web.Security.Xml" applicationName="DotNetAggCatSample" caseSensitive="false" fileName="Roles.xml" folder="~/App_Data/" />
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <trace enabled="true"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--
  <system.diagnostics>
    <switches>
      <add name="IPPTraceSwitch" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="IdsTracer"
          type="System.Diagnostics.TextWriterTraceListener,
             System,
             Version=4.0.30319.1,
             Culture=neutral,
             PublicKeyToken=b77a5c561934e089"
          initializeData="C:\\DotNetAggCatTrace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  -->
</configuration>